@import "modern-normalize.css";

html {
  font-family: "Pretendard Variable", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "Pretendard Variable";
  src: url("./PretendardVariable.ttf");
}
